@charset "utf-8";
/* CSS Document */

/* Reset default padding and margin for the entire page */
html {
    padding: 0px;
    margin: 0px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

/* Center the logo horizontally */
.style-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Remove bullet points from the navigation list */
.style-nav ul {
    list-style-type: none;
}

/* Style for navigation links */
.style-nav ul li a {
    text-decoration: none; /* Remove underline from links */
    text-align: center;
    display: block;
    text-transform: uppercase; /* Convert text to uppercase */
    padding: 8px;
    color: #2f322A; /* Dark color for the text */
}

/* Add padding to the header */
header {
    padding: 32px;
}
.hero{
	background-image: url("Images/hero.jpg");
	background-size: cover;
	text-align: center;
	color: #FFFFFF
}
/* Styles for screens 768px and wider */
@media (min-width: 768px) {
    .style-nav ul li {
        display: inline-block; /* Display navigation items inline */
    }
    .style-nav ul {
        text-align: center; /* Center align the navigation */
    }
}

/* Styles for screens 1024px and wider */
@media (min-width: 1024px) {
    .style-logo {
        float: left; /* Align the logo to the left */
    }
    .style-nav ul {
        float: right; /* Align the navigation to the right */
    }
}
